@import "@fontsource-variable/fraunces";
@import "@fontsource-variable/hanken-grotesk";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFAF5;
  --foreground: #3A241B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "HankenGroteskVariable", sans-serif;
}

/* Fraunces italic utility */
.font-fraunces {
  font-family: "FrauncesVariable", serif;
  font-style: italic;
}
